
@{
    ViewBag.Title = "Home";
}
<h2>Home</h2>

<h2>This is a Demo of a MVC Application</h2>

<P>
    Its purpose is to allow a user to input up to 3 directories and then
    display the aggregate sum of all the file sizes within the specified directories (recursively).
</P>

<p>
    Processing of each directory is handled on a separate threads using Task Parallel Library (TPL). Form validation and
    scan request are handle using Alglar.JS, and Logging is implemented via log4net. Pleas visit the <a href="@Url.Action("About", "Home")"> About page</a>
    for complete details of the design.
</p>

<p>
    To get stated click on the <a href="@Url.Action("Scan", "Home")"> Scan page.</a>
</p>