@{
    ViewBag.Title = "Scan";
}
<h1>This is the Scan Page</h1>


<form>
    <label>Enter Path1:</label>
    <imput></imput>
    <label>Enter Path2:</label>
    <imput></imput>
    <label>Enter Path3:</label>
    <imput></imput>
    <imput typeof="submit"></imput>
</form>